<header>
    <h1>Customer Registration System</h1>
</header>

<button class="btn_form_cad_open">Register Clients</button>

<form action="/cadClientes" method="post" class="cad_clientes">
    <img src="/images/sair.png" alt="" class="btn_cad_closed">

    <h2>Register Client</h2>

    <div class="field_cad">
        <label for="">Name:
            <input type="text" name="name" required>
        </label>

        <label for="">Email:
            <input type="email" name="email" required>
        </label>

        <label for="">Profession:
            <input type="text" name="profession" required>
        </label>

        <label for="">Telephone:
            <input type="tel" name="telephone" id="" required>
        </label>

        <label for="">Cep:
            <input type="text" name="cep" id="" required>
        </label>
    </div>


    <button type="submit" class="btn_cad_submit">register client</button>
</form>

<table class="table_crud">
    <thead class="head_crud">
        <tr>
            <td>NAME</td>
            <td>EMAIL</td>
            <td>PROFESSION</td>
            <td>TELEPHONE</td>
            <td>CEP</td>
            <td>AÇÃO</td>
        </tr>
    </thead>

            {{#each clientes}}

    <tbody class="body_crud">
        <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{profession}}</td>
                <td>{{telephone}}</td>
                <td>{{cep}}</td>
                <td class="td_btns">
                    <a href="/update/{{_id}}"><img src="/images/update.png" class="btnUpdate"></a>
                    <a href="/delete/{{email}}"><img src="/images/delete.png" alt="" class="btnDelete"></a>
                </td>
        </tr>
            {{else}}
                <h3 class="nobody_client">No Registered Customer</h3>
            {{/each}}
    </tbody>
</table>